<header>
  <div class="header title">
    {{title}}
    <p class="p">by {{author}}</p>
  </div>
  <div class="header social">
    <ul>
      <li (click)="fb()"><i class="fa fa-facebook" style="font-size:24px;color:#fff"></i></li>
      <li (click)="ig()"><i class="fa fa-instagram" style="font-size:24px;color:#fff"></i></li>
      <li (click)="tw()"><i class="fa fa-twitter" style="font-size:24px;color:#fff"></i></li>
      <li (click)="in()"><i class="fa fa-linkedin" style="font-size:24px;color:#fff"></i></li>
    </ul>
  </div>
</header>

<!--<section id="container">
  {{value}} {{currency}}
</section>-->

<app-currency></app-currency>

<footer>
  {{year_of_create}} created by {{author}}
</footer>
